{% extends "base.html" %}
{% block title %}CMS{% endblock %}
{% block link %}
<link rel="stylesheet" href="../static/camera.css">
{% endblock %}
{% block content %}
    
<div class="container">
        <div class="form-wrapper">
          <h1 class="heading">Upload Images</h1>
          <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {% for error in form.photo.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}

            <div class="row justify-content-center">
              <div class="col-auto"></div>
              {{ form.photo(class="form-control") }}
              <div class="col-auto"></div>
              {{ form.submit(class="btn btn-success") }}
            <!-- </div> -->

          </form>

          {% if file_url %}
          <div class="mt-5">
            <img src="{{ url_for(file_url) }}" style="width: 400px">
          </div>
          {% endif %}
          
        </div>
      </div>
{% endblock %}