<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Responsive Sidebar Menu</title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
      <header>My Menu</header>
      <a href="#" class="active">
        <i class="fas fa-qrcode"></i>
        <span>Dashboard</span>
      </a>
      <a href="camera">
        <i class="fas fa-camera"></i>
        <span>Camera Input</span>
      </a>
      <a href="voice">
        <i class="fas fa-microphone"></i>
        <span>Voice Input</span>
      </a>
      <a href="text">
         <i class="fas fa-sms"></i>
        <span>Text Input</span>
      </a>
      <a href="image">
        <i class="far fa-image"></i>
        <span>Image Input</span>
      </a>
      <a href="about">
        <i class="fas fa-question-circle"></i>
        <span>About</span>
      </a>
    </div>
</body>
</html>