flask==2.2.2
flask_Reuploaded
Flask-WTF==1.1.0
tensorflow==2.10.0
opencv-python==4.6.0.66
numpy==1.23.4
mediapipe==0.9.0
matplotlib==3.5.2
pyserial==3.5
#cmake==3.25.0
#dlib==19.24.0
face-recognition==1.3.0
#tflite-runtime==2.11.0
onnx==1.13.0 
protobuf==3.20.3
onnx_tf==1.10.0
